anyio==4.0.0
certifi==2023.7.22
charset-normalizer==3.2.0
configparser==6.0.0
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.4
mysql==0.0.3
mysql-connector-python==8.1.0
mysqlclient==2.2.0
protobuf==4.21.12
pyTelegramBotAPI==4.14.0
python-telegram-bot==20.5
requests==2.31.0
sniffio==1.3.0
telebot==0.0.5
telegram==0.0.1
telegramApi==1.5
urllib3==2.0.5
